.main_desenvolvimento {
    font-family: 'Sora', sans-serif;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
}

.main_desenvolvimento h3 {
    color: #1f1f1f;
    font-size: 24px;
}

.blocos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.desenvolvimento_text {
    flex: 1 1 50%;
    margin-top: 32px;
}

.blocos h2 {
    font-size: 28px;
    color: #0A7DCA;
}

.blocos p {
    font-size: 20px;
    color: #1f1f1f;
}

#orçamento {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

#orçamento h4 {
    color: #1f1f1f;
    font-size: 24px;
}

#orçamento button {
    width: 340px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: #1f1f1f;
    color: #eeeeee;
    font-size: 20px;
    font-weight: 600;
}

#orçamento span {
    color: #0A7DCA;
}