.escolha {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}
.escolha_selo {
    gap: 12px;
}
.escolha_selo h2{
    font-size: 40px;
    line-height: 1.1;
}
.escolha_selo span {
    color: #0A7DCA;
}
.escolha_selo img {
    width: 330px;
}
.escolha_text {
    width: 700px;
    font-size: 18px;
}