html * {
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
}

.navegação {
    background: #1f1f1f;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.section_navigation {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 18px;
}

.section_navigation img {
    width: 200px;
}

.button_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
}
.button_navigation {
    text-decoration: none;
    color: #eeeeee; /* Adicionado para garantir que a cor do texto seja aplicada */
}
.button_navigation:hover{
    color: #3498DB;
    font-weight: 600;
    transition: color 0.3s ease;
}

.button_contato {
    width: 110px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: #3498DB;
    color: #1f1f1f;
    font-size: 18px;
}
.button_contato:hover {
    background-color: #eeeeee; 
    color: #1f1f1f; 
    cursor: pointer;
}