.main_servicos {
    font-family: 'Sora', sans-serif;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.main_servicos_title h3 {
    color: #1f1f1f;
    font-size: 24px;
}

.main_servicos_title p {
    color: #484848;
    font-size: 18px;
    font-weight: 400;
}

.servicos {
    margin-top: 54px;
    gap: 36px;
    display: flex;
    flex-direction: row;
}

.servico_icon {
    width: 90px;
}

.tipe_servico {
    width: 220px;
    height: 270px;
    background: #1f1f1f;
    border-radius: 8px;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.5); /*horin, vertic, opacity and color*/
}

.tipe_servico h4 {
    font-size: 18px;
    font-weight: 600;
    width: 190px;
    margin-top: 18px;
}

.tipe_servico p {
    font-size: 14px;
    font-weight: 300;
    width: 190px;
    margin-top: 5px;
}