.avaliacao {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.avaliacao_text {
    width: 80%;
}
.avaliacao_text h2 {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 12px;
}
.avaliacao_text p {
    font-size: 20px;
    margin-top: 12px;
}
.avaliacao_text button {
    font-size: 20px;
    font-weight: 600;
    color: #0A7DCA;
    border: none;
    border-radius: 5px;
    background: #ADCCE1;
    width: 180px;
    height: 40px;
}
.avaliacao_text .cta {
    font-size: 20px;
    font-weight: 600;
    color: #eeeeee;
    border: none;
    border-radius: 30px;
    background: #3498DB;
    width: 300px;
    height: 40px;
    margin-top: 20px;
}

.avaliacao_comentario {
    display: flex;
    flex-direction: row;
    max-width: 55%;
    margin-top: 42px;
    gap: 24px;
}
em {
    color: #3498DB;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}
h4 {
    font-size: 18px;
}
.coluna_1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.avaliacao_comentario_content_01{
    width: 340px;
    height: 240px;
    background-color: #1f1f1f;
    color: #eeeeee;
    border-radius: 5px;
    border: none;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.avaliacao_comentario_content_02{
    width: 340px;
    height: 190px;
    background-color: #1f1f1f;
    color: #eeeeee;
    border-radius: 5px;
    border: none;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.coluna_2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
}
.avaliacao_comentario_content_03 {
    width: 340px;
    height: 212px;
    background-color: #1f1f1f;
    color: #eeeeee;
    border-radius: 5px;
    border: none;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.avaliacao_comentario_content_04 {
    width: 340px;
    height: 212px;
    background-color: #1f1f1f;
    color: #eeeeee;
    border-radius: 5px;
    border: none;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}